[Desktop Entry]
Name=Thorium Browser
GenericName=Thorium
Comment=Powerful browser based on Chromium
Comment=Powerful browser based on Chromium
Exec=/usr/local/thorium/Thorium_Browser.AppImage
X-MultipleArgs=false
Type=Application
Categories=Network;WebBrowser; 
Icon=/usr/local/thorium/thorium_logo.png
StartupWMClass=Thorium
StartupNotify=true
